.trending__products__dialog{
  position: absolute;
  top: 80px;
  width: calc(100% + 100px);
  margin: 0 -68px;
  background-color: white;
  padding: 12px 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}