.trending__product__card{
  display: flex;
  flex-direction: column;
gap: 8px;
cursor: pointer;

  img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
  }

  p {
    font-size: small;
  }
}